nav#sidenav ul li{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
}

table#searchResult{
	border-bottom: solid 1px;
	border-right: solid 1px;
}
table#searchResult th,
table#searchResult td{
	border-top: solid 1px;
	border-left: solid 1px;
}
table#searchResult th{
	background-color: gray;
	color: white;
}
table#searchResult tbody{
	overflow: scroll;
}